

<p><%= @recipe.title %></p>
<img src=""><%= @recipe.image %></img>
<p><%= @recipe.steps %></p>
<p><%= @recipe.title %></p>

<% @recipe.tags.each do |t| %>
<%= link_to t.tag, tag_path(t) %>
<% end %>
