

<p><%= @recipe.title %></p>
<% @recipe.ingredients.each do |i| %>
<%= i.quantity %> <%= i.name %>
<%end %>
<img src=<%= @recipe.image %> >
<p><%= @recipe.steps %></p>
<p><%= @recipe.title %></p>
<% @recipe.tags.each do |t| %>
<%= link_to t.tag, tag_path(t) %>
<% end %>
