<br><br>
<% if user_signed_in? %>
<% if current_user.orders.length != 0 %>
<% if current_user.orders.last.completed == false %>

<h3 class="your_order">Your Order</h3>
<br><br><br>

<% totalPrice = 0 %>

<div class="cards" id="product_card">
<% current_user.orders.last.items.each do |i| %>
  <div class="panel">
    <div class="panel-image">
      <%= image_tag i.product.image %>
    </div>

    <div class="panel-action">
     <p class="product_name"><%= i.product.title %></p>
     <p class="product_p_q">Quantity: <%= i.quantity %></p>
     <p class="product_p_q">Price: <span class="product_p_q" id="totalPrice"> <%= i.price %></span></p>
    </div>
  </div>

    <p><% totalPrice+=i.price %></p>
  <hr>
<% end %>



</div>
<div id="map" style="width:500px; height:500px; margin-left:500px"></div>
<div class="order_done">
<p id="totalprice">Total Price: <%= totalPrice %> SAR</p>
<button onclick="update()" class="btn" id=<%= current_user.orders.last.id %>>Done</button>
</div>
<% end %>
<% end %>
<% end %>


<span id="lat" hidden><%= current_user.latitude %></span>
<span id="long" hidden><%= current_user.longitude %></span>

   <script>

     var map;
   let lat = document.querySelector("#lat").innerHTML;
   let long = parseFloat(document.querySelector("#long").innerHTML);
   console.log(lat);
   function initMap() {
       var myLatLng = {lat: <%= current_user.latitude %>, lng: <%= current_user.longitude %>};
       map = new google.maps.Map(document.getElementById('map'), {
           center: { lat: <%= current_user.latitude %>, lng: <%= current_user.longitude %> },
           zoom: 18
       });
        var marker = new google.maps.Marker({
   position: myLatLng,
   map: map,
   title: 'Your location!'
 });
   }
   </script>
   <script src=
   async defer></script>
