
<div >
<% if user_signed_in? %>
<% if current_user.is_admin == true %>
   <button><%= link_to "Add New Product", new_product_path, class: "links" %></button>
<% end %>
   <!--<button><%= link_to "Cart", orders_cart_path, class: "links" %></button>-->
<%end %>
<!--<button><%= link_to "Cart", orders_cart_path, class: "links" %></button>-->
<div class="fa-1x">
<span class="fa-layers fa-fw" >
  
   <%= link_to "", orders_cart_path, class: "links fas fa-shopping-basket fa-3x icon" %>
    <% if user_signed_in? %>
  <%if current_user.orders.last && current_user.orders.last.completed==false %> 
   <span class="links fa-layers-counter icons numberss" style="background:Tomato"> &nbsp; <%= current_user.orders.last.items.length %> &nbsp;   </span>
  <%end %>
  <%end %>
  <br>
  <br>
  </span>
  </div>
</div>


<div class="cards" id="product_card">
<% counter = 0 %>
<% @products.each do |p| %>
  <div class="panel">
    <div class="panel-image">
      <%= image_tag p.image %>
    </div>

    <div class="panel-action">
     <!-- <%= link_to p.title, product_path(p) %> -->
     <p class="product_name"><%= p.title %></p>

     <!--<p class="panel_price"> <span id="price"><%=  p.price %> </span>SAR </p>-->
     <p class="product_p_q">Price: <span id="totalPrice"><%=  p.price %></span></p>
     
    <p>
     <span class="product_p_q">Quantity: <span id="quant">1</span></span>
      <i onclick="fun(event)" class="links fas fa-plus-circle fa-lg"></i>
     </p>

     <p id="productTry" hidden><%= p.id %></p>
       <p id="price" hidden><%= p.price %></p>

     <p><%= p.description %></p>
    </div>

    <div class="add-to-cart">
      <% if user_signed_in? %>
    <%if current_user.orders.length===0||current_user.orders.last.completed==true %>
      <button class="add_to_cart" onclick="cart(event)">Add To Cart</button>
    <% else %>
      <button onclick="order(event)" class="sameorder" id=<%= current_user.orders.last.id %>>Add To Cart</button>
    <% end %>
    <% end %>
    </div>
  </div>
  <hr>
  <% counter += 1 %>
<% end %>
</div>

