

<p><%= @product.title %></p>
<img src=<%= @product.description %>>
<p id="price"><%= @product.price %></p>
<p><%= @product.image %></p>


<button onclick="fun()">add</button>
<p id="quant"></p>

<p id="productTry" hidden><%= @product.id %></p>
<p id="totalPrice"></p>


<div class="order">
<%if current_user.orders.length===0||current_user.orders.last.completed==true %>
<button onclick="cart()">Add</button>
<% else %>
<button onclick="order()" class="sameorder" id=<%= current_user.orders.last.id %>>Add</button>
<% end %>

</div>
